@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}

@keyframes floatSlow {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-30px); }
  100% { transform: translateY(0px); }
}

.float-slow {
  animation: floatSlow 8s ease-in-out infinite;
}